.my-5{
--docsearch-primary-color: #5468ff;
--docsearch-text-color: #1c1e21;
--docsearch-spacing: 12px;
--docsearch-icon-stroke-width: 1.4;
--docsearch-highlight-color: var(--docsearch-primary-color);
--docsearch-muted-color: #969faf;
--docsearch-container-background: rgba(101,108,133,0.8);
--docsearch-logo-color: #5468ff;
--docsearch-modal-width: 560px;
--docsearch-modal-height: 600px;
--docsearch-modal-background: #f5f6f7;
--docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0,0%,100%,0.5),0 3px 8px 0 #555a64;
--docsearch-searchbox-height: 56px;
--docsearch-searchbox-background: #ebedf0;
--docsearch-searchbox-focus-background: #fff;
--docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
--docsearch-hit-height: 56px;
--docsearch-hit-color: #444950;
--docsearch-hit-active-color: #fff;
--docsearch-hit-background: #fff;
--docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
--docsearch-key-gradient: linear-gradient(-225deg,#d5dbe4,#f8f8f8);
--docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,0.4);
--docsearch-key-pressed-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 1px 0 rgba(30,35,90,0.4);
--docsearch-footer-height: 44px;
--docsearch-footer-background: #fff;
--docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8,0 -3px 6px 0 rgba(69,98,155,0.12);
--bs-blue: #0d6efd;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc107;
--bs-green: #198754;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-black: #000;
--bs-white: #fff;
--bs-gray: #6c757d;
--bs-gray-dark: #343a40;
--bs-gray-100: #f8f9fa;
--bs-gray-200: #e9ecef;
--bs-gray-300: #dee2e6;
--bs-gray-400: #ced4da;
--bs-gray-500: #adb5bd;
--bs-gray-600: #6c757d;
--bs-gray-700: #495057;
--bs-gray-800: #343a40;
--bs-gray-900: #212529;
--bs-primary: #0d6efd;
--bs-secondary: #6c757d;
--bs-success: #198754;
--bs-info: #0dcaf0;
--bs-warning: #ffc107;
--bs-danger: #dc3545;
--bs-light: #f8f9fa;
--bs-dark: #212529;
--bs-primary-rgb: 13,110,253;
--bs-secondary-rgb: 108,117,125;
--bs-success-rgb: 25,135,84;
--bs-info-rgb: 13,202,240;
--bs-warning-rgb: 255,193,7;
--bs-danger-rgb: 220,53,69;
--bs-light-rgb: 248,249,250;
--bs-dark-rgb: 33,37,41;
--bs-white-rgb: 255,255,255;
--bs-black-rgb: 0,0,0;
--bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
--bs-body-font-family: var(--bs-font-sans-serif);
--bs-body-font-size: 1rem;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.5;
--bs-link-decoration: underline;
--bs-border-width: 1px;
--bs-border-style: solid;
--bs-border-radius: 0.375rem;
--bs-border-radius-sm: 0.25rem;
--bs-border-radius-lg: 0.5rem;
--bs-border-radius-xl: 1rem;
--bs-border-radius-xxl: 2rem;
--bs-border-radius-2xl: var(--bs-border-radius-xxl);
--bs-border-radius-pill: 50rem;
--bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
--bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
--bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
--bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
--bs-focus-ring-width: 0.25rem;
--bs-focus-ring-opacity: 0.25;
--bs-focus-ring-color: rgba(13, 110, 253, 0.25);
color-scheme: dark;
--bs-body-color: #dee2e6;
--bs-body-color-rgb: 222,226,230;
--bs-body-bg: #212529;
--bs-body-bg-rgb: 33,37,41;
--bs-emphasis-color: #fff;
--bs-emphasis-color-rgb: 255,255,255;
--bs-secondary-color: rgba(222, 226, 230, 0.75);
--bs-secondary-color-rgb: 222,226,230;
--bs-secondary-bg: #343a40;
--bs-secondary-bg-rgb: 52,58,64;
--bs-tertiary-color: rgba(222, 226, 230, 0.5);
--bs-tertiary-color-rgb: 222,226,230;
--bs-tertiary-bg: #2b3035;
--bs-tertiary-bg-rgb: 43,48,53;
--bs-primary-text-emphasis: #6ea8fe;
--bs-secondary-text-emphasis: #a7acb1;
--bs-success-text-emphasis: #75b798;
--bs-info-text-emphasis: #6edff6;
--bs-warning-text-emphasis: #ffda6a;
--bs-danger-text-emphasis: #ea868f;
--bs-light-text-emphasis: #f8f9fa;
--bs-dark-text-emphasis: #dee2e6;
--bs-primary-bg-subtle: #031633;
--bs-secondary-bg-subtle: #161719;
--bs-success-bg-subtle: #051b11;
--bs-info-bg-subtle: #032830;
--bs-warning-bg-subtle: #332701;
--bs-danger-bg-subtle: #2c0b0e;
--bs-light-bg-subtle: #343a40;
--bs-dark-bg-subtle: #1a1d20;
--bs-primary-border-subtle: #084298;
--bs-secondary-border-subtle: #41464b;
--bs-success-border-subtle: #0f5132;
--bs-info-border-subtle: #087990;
--bs-warning-border-subtle: #997404;
--bs-danger-border-subtle: #842029;
--bs-light-border-subtle: #495057;
--bs-dark-border-subtle: #343a40;
--bs-heading-color: inherit;
--bs-link-color: #6ea8fe;
--bs-link-hover-color: #8bb9fe;
--bs-link-color-rgb: 110,168,254;
--bs-link-hover-color-rgb: 139,185,254;
--bs-code-color: #e685b5;
--bs-highlight-color: #dee2e6;
--bs-highlight-bg: #664d03;
--bs-border-color: #495057;
--bs-border-color-translucent: rgba(255, 255, 255, 0.15);
--bs-form-valid-color: #75b798;
--bs-form-valid-border-color: #75b798;
--bs-form-invalid-color: #ea868f;
--bs-form-invalid-border-color: #ea868f;
--bs-breakpoint-xs: 0;
--bs-breakpoint-sm: 576px;
--bs-breakpoint-md: 768px;
--bs-breakpoint-lg: 992px;
--bs-breakpoint-xl: 1200px;
--bs-breakpoint-xxl: 1400px;
font-family: var(--bs-body-font-family);
font-size: var(--bs-body-font-size);
font-weight: var(--bs-body-font-weight);
line-height: var(--bs-body-line-height);
color: var(--bs-body-color);
text-align: var(--bs-body-text-align);
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
box-sizing: border-box;
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
width: 100%;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
margin-right: auto;
margin-left: auto;
max-width: 1320px;
}

.CJF7A2 {
--section-max-width: 9999px;
--one-unit: 1cqw;
--wst-button-color-fill-primary: rgb(var(--color_48));
--wst-button-color-border-primary: rgb(var(--color_49));
--wst-button-color-text-primary: rgb(var(--color_50));
--wst-button-color-fill-primary-hover: rgb(var(--color_51));
--wst-button-color-border-primary-hover: rgb(var(--color_52));
--wst-button-color-text-primary-hover: rgb(var(--color_53));
--wst-button-color-fill-primary-disabled: rgb(var(--color_54));
--wst-button-color-border-primary-disabled: rgb(var(--color_55));
--wst-button-color-text-primary-disabled: rgb(var(--color_56));
--wst-button-color-fill-secondary: rgb(var(--color_57));
--wst-button-color-border-secondary: rgb(var(--color_58));
--wst-button-color-text-secondary: rgb(var(--color_59));
--wst-button-color-fill-secondary-hover: rgb(var(--color_60));
--wst-button-color-border-secondary-hover: rgb(var(--color_61));
--wst-button-color-text-secondary-hover: rgb(var(--color_62));
--wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
--wst-button-color-border-secondary-disabled: rgb(var(--color_64));
--wst-button-color-text-secondary-disabled: rgb(var(--color_65));
--wst-color-fill-base-1: rgb(var(--color_36));
--wst-color-fill-base-2: rgb(var(--color_37));
--wst-color-fill-base-shade-1: rgb(var(--color_38));
--wst-color-fill-base-shade-2: rgb(var(--color_39));
--wst-color-fill-base-shade-3: rgb(var(--color_40));
--wst-color-fill-accent-1: rgb(var(--color_41));
--wst-color-fill-accent-2: rgb(var(--color_42));
--wst-color-fill-accent-3: rgb(var(--color_43));
--wst-color-fill-accent-4: rgb(var(--color_44));
--wst-color-fill-background-primary: rgb(var(--color_11));
--wst-color-fill-background-secondary: rgb(var(--color_12));
--wst-color-text-primary: rgb(var(--color_15));
--wst-color-text-secondary: rgb(var(--color_14));
--wst-color-action: rgb(var(--color_18));
--wst-color-disabled: rgb(var(--color_39));
--wst-color-title: rgb(var(--color_45));
--wst-color-subtitle: rgb(var(--color_46));
--wst-color-line: rgb(var(--color_47));
--wst-font-style-h2: var(--font_2);
--wst-font-style-h3: var(--font_3);
--wst-font-style-h4: var(--font_4);
--wst-font-style-h5: var(--font_5);
--wst-font-style-h6: var(--font_6);
--wst-font-style-body-large: var(--font_7);
--wst-font-style-body-medium: var(--font_8);
--wst-font-style-body-small: var(--font_9);
--wst-font-style-body-x-small: var(--font_10);
--ProGallery669818973-overFreemiumBanner: 1000000;
--ProGallery669818973-overFullscreen: 1000001;
--wix-font-stack: Madefor,"Helvetica Neue",Helvetica,Arial,"ãƒ¡ã‚¤ãƒªã‚ª","meiryo","ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ pro w3","hiragino kaku gothic pro",sans-serif;
--wix-font-weight-regular: 400;
--wix-font-weight-medium: 530;
--wix-font-weight-bold: 700;
--wix-font-weight-xbold: 800;
--color_0: 255,255,255;
--color_1: 9,46,110;
--color_2: 13,74,178;
--color_3: 15,57,130;
--color_4: 239,238,231;
--color_5: 255,168,5;
--color_6: 255,255,255;
--color_7: 165,195,248;
--color_8: 74,135,240;
--color_9: 16,84,200;
--color_10: 9,46,110;
--color_11: 255,255,255;
--color_12: 165,195,248;
--color_13: 74,135,240;
--color_14: 16,84,200;
--color_15: 9,46,110;
--color_16: 156,190,248;
--color_17: 57,125,241;
--color_18: 9,46,110;
--color_19: 9,49,119;
--color_20: 4,25,59;
--color_21: 190,211,247;
--color_22: 124,166,240;
--color_23: 59,122,232;
--color_24: 23,86,195;
--color_25: 15,57,130;
--color_26: 247,247,243;
--color_27: 239,238,231;
--color_28: 192,188,161;
--color_29: 141,135,94;
--color_30: 71,68,47;
--color_31: 255,211,130;
--color_32: 255,168,5;
--color_33: 195,127,0;
--color_34: 130,85,0;
--color_35: 65,42,0;
--color_36: 255,255,255;
--color_37: 9,46,110;
--color_38: 165,195,248;
--color_39: 74,135,240;
--color_40: 16,84,200;
--color_41: 239,238,231;
--color_42: 15,57,130;
--color_43: 74,135,240;
--color_44: 255,255,255;
--color_45: 9,46,110;
--color_46: 9,46,110;
--color_47: 9,46,110;
--color_48: 9,46,110;
--color_49: 9,46,110;
--color_50: 255,255,255;
--color_51: 255,255,255;
--color_52: 9,46,110;
--color_53: 9,46,110;
--color_54: 74,135,240;
--color_55: 74,135,240;
--color_56: 255,255,255;
--color_57: 255,255,255;
--color_58: 9,46,110;
--color_59: 9,46,110;
--color_60: 9,46,110;
--color_61: 9,46,110;
--color_62: 255,255,255;
--color_63: 255,255,255;
--color_64: 74,135,240;
--color_65: 74,135,240;
--font_0: normal normal normal 22px/1.41em poppins-semibold,poppins,sans-serif;
--font_1: normal normal normal 14px/1.79em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
--font_2: normal normal normal 28px/1.375em poppins-semibold,poppins,sans-serif;
--font_3: normal normal normal 88px/1.2em poppins-semibold,poppins,sans-serif;
--font_4: normal normal normal 72px/1.25em poppins-semibold,poppins,sans-serif;
--font_5: normal normal normal 50px/1.34em poppins-semibold,poppins,sans-serif;
--font_6: normal normal normal 40px/1.35em poppins-semibold,poppins,sans-serif;
--font_7: normal normal normal 20px/1.67em poppins-extralight,poppins,sans-serif;
--font_8: normal normal normal 18px/1.75em poppins-extralight,poppins,sans-serif;
--font_9: normal normal normal 15px/1.875em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
--font_10: normal normal normal 14px/1.79em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
--wix-ads-height: 50px;
--sticky-offset: 50px;
--wix-ads-top-height: 50px;
--vh-unit: calc( (100vh - 50px) / 100);
--site-width: 980px;
--above-all-z-index: 100000;
--portals-z-index: 100001;
-webkit-font-smoothing: antialiased;
--minViewportSize: 320;
--maxViewportSize: 1920;
--theme-spx-ratio: 1px;
--scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
--customScaleViewportLimit: clamp(var(--minViewportSize) * 1px, 100 * var(--one-unit), min(var(--section-max-width), var(--maxViewportSize) * 1px));
--tooltip-text-color: white;
--tooltip-background-color: black;
--tooltip-margin: 30px;
--tooltip-arrow-size: 6px;
--scrollbar-width: 0px;
font-family: Arial,Helvetica,sans-serif;
font-size: 10px;
--pinned-layers-in-page: 0;
--top-offset: 0px;
--header-height: 120px;
--above-all-in-container: 10000;
--bg: var(--color_11);
--shd: none;
--brwt: 0px;
--brd: var(--color_36);
--brwb: 0px;
--bgctr: var(--color_11);
--rd: 0px;
--alpha-bg: 1;
--alpha-bgctr: 1;
--alpha-brd: 0;
--boxShadowToggleOn-shd: none;
--backdrop-filter: none;
--bg-overlay-color: rgb(var(--color_11));
--bg-gradient: none;
--shc-mutated-brightness: 128,128,128;
visibility: inherit;
background: transparent;
border: 0;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
height: auto;
position: relative;
width: 100%;
}